@model ShopDisherViewModel



<section id="services">
    <div class="container">
        <div class="title">
            <h2>
                Услуги
            </h2>
        </div>
        <div class="services clearfix">
            <div class="services__item">
                <img src="#" alt="Услуга">
                <h3>Доставка</h3>
                <p>
                    Это быстрый и удобный сервис заказа еды из лучшего заведений Алматы.
                    Закажите бесплатную и удобную доставку.
                </p>
            </div>
            <div class="services__item">
                <img src="#" alt="Услуга">
                <h3>Банкеты</h3>
                <p>
                    Лучшее место для вашей идеальной свадьбы/Торжества до 200 человек.
                </p>
            </div>
            <div class="services__item">
                <img src="#" alt="Услуга">
                <h3>Конференция</h3>
                <p>
                    Роскошный банкетный зал занимает внушительные 600 кв. м и идеально подходит для проведения бизнес конференций.
                </p>
            </div>
        </div>
    </div>
</section>